[Unit]
Description=Helix UWSGI Server
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --plugins python27 --ini /etc/helix/uwsgi/helix.ini
# Requires systemd version 211 or newer
RuntimeDirectory=helix
User=helix
Group=helix
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
